$gray: #7c7c7c;
$aqua: #1b8c8c;
$blue: #063970;
$light-blue: #047097;
$blue-xl: #70b2bc;
$lightest-blue: #459baf;
$cold: #80c1d3;
$black: #000;
$white: #fff;
$light-gray: #f2f1f1;
$lightest-gray: #E6EBED;
$green: #56B835;
$dark-blue: #0C3774;
$dark-gray: #6A6A6A;
$marine: #0A6C9A;
$red: #A23737;
$water-blue: #14ABE5;
$ice: #F2F8FA;
